CMakeLists.txt
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
compile_commands.json
TombRaiderLinuxLauncher
TombRaiderLinuxLauncher_autogen
cmake_install.cmake
install_manifest.txt
Makefile
build-Debug
build
.cache
.gdb
.gdbinit
.vscode
.qtcreator
.mypy_cache
database/*.db-journal
TombRaiderLinuxLauncher.kdev4
